<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.OrderMapper">

    <resultMap id="baseResultMap" type="org.example.entity.OrderEntity">
        <id column="id" property="id"></id>
        <result column="good_id" property="goodId"/>
        <result column="user_id" property="userId"/>
        <result column="order_price" property="orderPrice"/>
        <result column="order_address" property="orderAddress"/>
        <result column="order_time" property="orderTime"/>
        <result column="pay_way" property="payWay"/>
        <result column="pay_time" property="payTime"/>
        <result column="order_status" property="orderStatus"/>
    </resultMap>

    <select id="selectById" resultMap="baseResultMap">
        SELECT * FROM t_order WHERE id = #{id}
    </select>
</mapper>